<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-4">
            <a target="_blank" href="http://obralumen.org.br/web/">
                <img src="~/Content/img/LumenLogo.png" alt="Lumen Logo" class="icon-lumen">
            </a>
        </div>
        <div class="col-sm-4">
            <a target="_blank" href="https://www.instagram.com/natalbrancolumen/" class="fa fa-instagram"></a>
            <a target="_blank" href="https://www.facebook.com/natalbrancolumen?fref=ts" class="fa fa-facebook"></a>
            <a target="_blank" href="https://www.youtube.com/user/obralumen" class="fa fa-youtube"></a>
            <h5>
                <span class="copyright">&copy; <a href="https://www.linkedin.com/in/rafael-bittencourt/?locale=en_US">Rafael Bittencourt</a> 2017. All rights reserved.</span>
            </h5>
        </div>
        <div class="col-sm-4">
            <a target="_blank" href="http://obralumen.org.br/web/acao-social-lumen/projetos/">
                <img src="~/Content/img/footer.png" alt="Footer" class="icon-serfeliz">
            </a>
        </div>
    </div>
</footer>