<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Content/img/Logotipo_NBL.png" class="logo">
                <span> Natal Branco</span> 
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling #fabf0f #ffea00 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a id="link-about" class="page-scroll" href="#page-about">About</a>
                </li>
                <li>
                    <a id="link-project" class="page-scroll" href="#page-theproject">The Project</a>
                </li>
                <li>
                    <a id="link-howtohelp" class="page-scroll" href="#page-howtohelp">How to Help</a>
                </li>
                <li>
                    <a id="link-whereweare" class="page-scroll" href="#page-whereweare">Where we are</a>
                </li>
                <li>
                    <a id="link-contact" class="page-scroll" href="#page-contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>