@{
      ViewBag.Title = "How to Help";
}
<div class="container">
    <div class="row">
        <div class="col-md-12"><br /></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="section-title">
                <span class="text-blue">It's easy</span>
                <span> to participate</span>
            </p>
            <p class="section-title section-title-35">
                <span class="text-blue">You too</span>
                <span> can sponsor a smile</span>
            </p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">
                        <strong> How to contribute:</strong>
                    </h3>
                </div>
                <div class="text-about text-black">
                    <br />
                    <ul>
                        <li>Donate to a child a Christmas basket, a hygiene kit and a toy or the value of this three items together;</li>
                        <li>Donate some of the items necessary for the party or the value related to them;</li>
                        <li>Be a volunteer in the organization of the event;</li>
                    </ul>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <p class="panel-title text-center">
                        <strong>Each child will receive:</strong>
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row text-about text-black">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <p class="text-blue">A party with:</p>
                            <ul>
                                <li>Moments of evangelization</li>
                                <li>Games</li>
                                <li>Food</li>
                                <li>Art Presentations</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <p class="text-blue">Christmas basket:</p>
                            <ul>
                                <li>3 M&M's bags</li>
                                <li>2 pairs of Christmas socks</li>
                                <li>1 box of Christmas cookies</li>
                                <li>3 hot chocolate bags</li>
                                <li>3 mini cakes or Mufins</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <div class="row text-about text-black">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <p class="text-blue">A new Toy:</p>
                            <ul>
                                <li>Non-violent</li>
                                <li>Appropriate to the age of the child</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <p class="text-blue">Hygiene Kit:</p>
                            <ul>
                                <li>Shampoo</li>
                                <li>Soap</li>
                                <li>Toothpaste</li>
                                <li>Toothbrush</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <br />
        </div>
    </div>
</div>