<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="section-title">
                <span class="text-blue">Principles and</span>
                <span class="text-white"> guidelines</span>
            </p>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul class="text-white">
                <li>
                    Stimulate solidarity and awaken in society the importance of small gestures of love for our neighbor, which can transform the world
                </li>
                <li>
                    Provide an unforgettable day of joy for children
                </li>
                <li>
                    Help children and their families with a basic basket, a toilet kit and a Christmas gift
                </li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <p class="section-title">
                <span class="text-blue">Project’s</span>
                <span class="text-white"> goals</span>
            </p>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul class="text-white">
                <li>
                    The results achieved at each Natal Branco Lumen are fruits of a
                    teamwork. Therefore, the project is a true experience of cultivating
                    fraternity, care and mutual respect among those who work and
                    participate
                </li>
                <li>
                    Natal Branco Lumen counts with the support and generosity of
                    individuals, entities and companies, because it is the commitment
                    of society united that makes the world better
                </li>
                <li>
                    All children deserve the same care, affection and love
                </li>
                <li>
                    Justice and organization are the basis for the success and credibility
                    of the project
                </li>
            </ul>
        </div>
        <div class="col-md-8"></div>
    </div>
</div>