<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="section-title"><span class="text-blue">Where</span> we are</p>
            <p class="text-muted text-black text-center">Cities that already hosted Natal Branco Lumen.</p>
            <p class="text-muted text-black text-center">In 2016, more then 6,000 children were benefited.</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            <br /><br />
        </div>
        <div class="col-md-3">
            <p class="text-muted text-black text-left">Cities in Brazil</p>
            <ul class="text-muted text-black text-left">
                <li>16 cities in Ceará (CE)</li>
                <li>Braília/DF</li>
                <li>João Pessoa/PB</li>
                <li>Cajazeiras/PB</li>
                <li>Bananeiras/PB</li>
                <li>Recife/PE</li>
                <li>Rio Janeiro/RJ</li>
                <li>Unaí/MG</li>
                <li>Salvador/BA</li>
                <li>Floriano/PI</li>
                <li>Teresina/PI</li>
                <li>Natal/RN</li>
                <li>Florianópolis/SC</li>
                <li>São Carlos/SP</li>
                <li>Cachoeira Paulista/SP</li>
            </ul>
        </div>
        <div class="col-md-3">
            <br /><br />
            <div class="text-center">
                <a target="_blank" href="http://www.natalbranco.com.br/">
                    <img src="~/Content/img/Brazil_Blank_Map.png" class="img-responsive" />
                </a>
            </div>
        </div>
        <div class="col-md-1">
            <br /><br />
        </div>
        <div class="col-md-3">
            <p class="text-muted text-black text-left">Around the world</p>
            <ul class="text-muted text-black text-left">
                <li>Toronto/CA</li>
            </ul>
        </div>
        <div class="col-md-1">
            <br /><br />
        </div>
    </div>
</div>